<a href="https://colab.research.google.com/github/jgh0707/NLP_2023/blob/main/%EB%94%94%EC%A7%80%ED%84%B8%EC%9D%B8%EB%AC%B8%ED%95%99%20%EC%8B%A4%EC%8A%B57.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **디지털인문학 실습 과제7**
## 23.09.20

- 복습

파이썬에 사용되는 다섯 가지 데이터타입

    Nuber, String, List, Tuble, Dictionary

Number- interger(정수), float(실수), complex(복소수)

- interger 정수 : 140, 90, -61, 0, 31, 25, 1 etc.
- float 실수 : 10.0, 90.0, -11.0, 0.0, 0.1 etc.
- complex 복소수: 1 + 5j, 3 + 2i

String

- "a", "b", "c"
- 'a', 'b', 'c'
- "32", "19.0", "2 + 5j"
- "i love sam's python"

List

- ['a', 'abc', '365', 'i love python']

Tuple

- ('a', 'bcd', '31', 'i love python')

dictionary

- {'a':'A', 'b':'B', 'c':'C'}
- {'korea' : '한국', 'japan' : '일본', 'china' : '중국'}

## **Nuber**

In [3]:
x=2
print(x)

y=3
print(y)

print(x + y)

2
3
5

## **String**

In [4]:
z = "i love python"
print(z)

i love python

In [5]:
a = 'lori'
print(a)
_b = 'sam'
print(_b)
a_b = 'ken'
print(a_b)
c_d = 'jen'
print(c_d)

a = 'emma'
print(a)

lori
sam
ken
jen
emma

## **List**

In [6]:
A = ["수성", "금성", "지구", "화성", "목성", "토성", "천황성", "혜왕성"]
B = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
C = [1,2,3,4,5,6,7,8,9,10]
print(A)
print(B)
print(C)

['수성', '금성', '지구', '화성', '목성', '토성', '천황성', '혜왕성']
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## **Tuple**

In [8]:
D = ("수성", "금성", "지구", "화성", "목성", "토성", "천황성", "혜왕성")
E = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune")
F = (1,2,3,4,5,6,7,8,9,10)
print(D)
print(E)
print(F)

('수성', '금성', '지구', '화성', '목성', '토성', '천황성', '혜왕성')
('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

## **Dictionary**

In [9]:
G = {'Mercury':'수성', 'Venus':'금성', 'Earth':'지구', 'Mars':'화성', 'Jupiter':'목성', 'Saturn':'토성', 'Uranus':'명왕성', 'Neptune':'해왕성'}
print(G)
H = {'a':1, 'b':2, 'c':3}
print(H)
H['a'] = 365
print(H)

{'Mercury': '수성', 'Venus': '금성', 'Earth': '지구', 'Mars': '화성', 'Jupiter': '목성', 'Saturn': '토성', 'Uranus': '명왕성', 'Neptune': '해왕성'}
{'a': 1, 'b': 2, 'c': 3}
{'a': 365, 'b': 2, 'c': 3}