<a href="https://colab.research.google.com/github/jgh0707/NLP_2023/blob/main/%EB%94%94%EC%A7%80%ED%84%B8%EC%9D%B8%EB%AC%B8%ED%95%99%20%EC%8B%A4%EC%8A%B543.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **디지털인문학 실습 과제43**
## 23.10.31

## 복습

In [1]:
import re

text = '123 main street and 5 avenue'
pattern = r'\d+\s\w'

matches = re.findall(pattern, text)

for i in matches:
  print('match :', i)

match : 123 m
match : 5 a

In [2]:
import re

text = '123 main street and 5 avenue'
pattern = r'\d+\s\w+'

matches = re.findall(pattern, text)

for i in matches:
  print('match :', i)

match : 123 main
match : 5 avenue

In [ ]:
#function 함수 문자열 인자
def add_txt(t1, t2):
  print(t1 + t2)

def add_txt(t1, t2):
  result = t1 + t2
  return result
#숫자 인자
def add_number(n1, n2):
  print(n1 + n2)

def add_number(n1, n2):
  result = n1 + n2
  return result

In [ ]:
#예시1
def add_txt(t1, t2):
  result = t1 + t2
  return result

text1 = 'fail '
text2 = 'semester'

combined_text = add_txt(text1, text2)

print(combined_text)

In [3]:
#자리표시자

name = 'alice'
score = 95
age = 18

test_result = 'you scored %d on the test' %score
print(test_result)

greeting = 'hello, %s! you turn to finally %d years old finally.' %(name, age)
print(greeting)

print('you scored %d on the test' %score)
print('hello, %s! you turn to finally %d years old finally.' %(name, age))

you scored 95 on the test
hello, alice! you turn to finally 18 years old finally.
you scored 95 on the test
hello, alice! you turn to finally 18 years old finally.

In [4]:
#응용
name = "Alice"
score = 95
age = 18

test_result = "my name is %s." % name
print(test_result)

print("my name is %s." % name)

my name is Alice.
my name is Alice.

In [5]:
#예시
def add(a, b):
  result = a + b
  return result

num1 = 950
num2 = 3442

sum_result = add(num1, num2)

print('the sum of %d and %d is %d'%(num1, num2, sum_result))

the sum of 950 and 3442 is 4392

In [6]:
#함수 호출
def add_txt1(t1, t2 ='python'):
  print(t1 + ':' + t2)

add_txt1('best')
add_txt1(t1 = 'mt friend', t2 = 'python')
add_txt1(t1 = 'mynuddy')

best:python
mt friend:python
mynuddy:python

In [7]:
#가변인자
def func_uncertain(*args):
  print(args)

func_uncertain()

func_uncertain(1, 2, 3)
func_uncertain('apple', 'banana', 'cherry', 'data')
func_uncertain(True)

()
(1, 2, 3)
('apple', 'banana', 'cherry', 'data')
(True,)

In [9]:
#키워드 가변인자

def func_kwa(width, height, **kwargs):
  print(kwargs)

func_kwa(10, 20)
func_kwa(10, 20, depth = 30, color = 'blue')

{}
{'depth': 30, 'color': 'blue'}

In [8]:
#리스트의 한 요소가 function함수일 경우
def myfunction():
  print('hello world!')

list = [1, 2, myfunction]

list[2]()
myfunction()

hello world!
hello world!