<a href="https://colab.research.google.com/github/jgh0707/NLP_2023/blob/main/%EB%94%94%EC%A7%80%ED%84%B8%EC%9D%B8%EB%AC%B8%ED%95%99%20%EC%8B%A4%EC%8A%B586.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#디지털인문학 실습 과제86
##23.12.19
##초보자를 위한 파이썬 200제

###사전에서 키만 추출하기(keys)

In [6]:
names = {'mary':10999, 'sams':2111, 'aimy':9778, 'tom':20245, 'michale':27115, 'bob':5887, 'kelly':7855}
ks = names.keys()
print(ks)

for k in ks:
 print('Key:%s\tValue:%d'%(k, names[k]))

dict_keys(['mary', 'sams', 'aimy', 'tom', 'michale', 'bob', 'kelly'])
Key:mary	Value:10999
Key:sams	Value:2111
Key:aimy	Value:9778
Key:tom	Value:20245
Key:michale	Value:27115
Key:bob	Value:5887
Key:kelly	Value:7855

###keys()
 - 사전에서 키에 해당하는 요소를 리턴한다.

###사전에서 값만 추출하기(values)

In [7]:
names = {'mary':10999, 'sams':2111, 'aimy':9778, 'tom':20245, 'michale':27115, 'bob':5887, 'kelly':7855}
vals = names.values()
print(vals)

vals_list = list(vals)
ret = sum(vals_list)
print('출생아 수 총계: %d' %ret)

dict_values([10999, 2111, 9778, 20245, 27115, 5887, 7855])
출생아 수 총계: 83990

###values()
- 사전에서 값에 해당하는 요소를 리턴한다.