<a href="https://colab.research.google.com/github/jgh0707/NLP_2023/blob/main/%EB%94%94%EC%A7%80%ED%84%B8%EC%9D%B8%EB%AC%B8%ED%95%99%20%EC%8B%A4%EC%8A%B582.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#디지털인문학 실습 과제82
##23.12.14
##초보자를 위한 파이썬 200제

###리스트 요소 무작위로 섞기(shuffle)

In [1]:
from random import shuffle

listdata = list(range(1,11))
for i in range(3):
  shuffle(listdata)
  print(listdata)

[2, 10, 5, 4, 9, 8, 1, 3, 6, 7]
[8, 2, 7, 1, 3, 10, 6, 9, 5, 4]
[5, 4, 6, 2, 8, 7, 10, 1, 9, 3]

###shuffle()
- 리스트의 요소를 무작위로 섞는데 활용되는 모듈

###리스트의 모든 요소를 인덱스와 쌍으로 추출하기(enumerate)

In [2]:
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
ret = list(enumerate(solarsys))
print(ret)

for i, body in enumerate(solarsys):
  print('태양계의 %d번째 천체: %s' %(i,body))

[(0, '태양'), (1, '수성'), (2, '금성'), (3, '지구'), (4, '화성'), (5, '목성'), (6, '토성'), (7, '천왕성'), (8, '해왕성')]
태양계의 0번째 천체: 태양
태양계의 1번째 천체: 수성
태양계의 2번째 천체: 금성
태양계의 3번째 천체: 지구
태양계의 4번째 천체: 화성
태양계의 5번째 천체: 목성
태양계의 6번째 천체: 토성
태양계의 7번째 천체: 천왕성
태양계의 8번째 천체: 해왕성

### enumerate()
 - 시퀸스 자료형을 인자로 받아 각 요소를 인덱스와 함께 쌍으로 추출할 수 있는 반복 가능한 자료로 리턴하는 내장함수