<a href="https://colab.research.google.com/github/jgh0707/NLP_2023/blob/main/%EB%94%94%EC%A7%80%ED%84%B8%EC%9D%B8%EB%AC%B8%ED%95%99%20%EC%8B%A4%EC%8A%B537.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **디지털인문학 실습 과제37**
## 23.10.24

## 복습

In [1]:
import re

text = "python is a programming laguage. python is versatile. we all love python."
pattern = r'^python'

matches = re.findall(pattern, text)

for match in matches:
  print('match:', match)

match: python

In [2]:
import re

text = 'cat, caat, caaat, sat, set'
pattern = r'ca+t'

matches = re.findall(pattern, text)

for match in matches:
  print('match :', match)

match : cat
match : caat
match : caaat

In [3]:
import re

text = 'cat, caat, caaat, sat, set'
pattern = r'a+t'

matches = re.findall(pattern, text)

for match in matches:
  print('match:', match)

match: at
match: aat
match: aaat
match: at

In [4]:
import re

text= '123 4567 89 12345 365567862 48765013 16854972360548732'
pattern = r'\d{6}'

matches = re.findall(pattern, text)
for match in matches:
  print('match :', match)

match : 365567
match : 487650
match : 168549
match : 723605

In [5]:
import re

text = 'the numbers are 12345678999, 12345, 987, and 56789'
pattern = r'\d{3,5}'

matches = re.findall(pattern, text)

for match in matches:
  print('match :', match)

match : 12345
match : 67899
match : 12345
match : 987
match : 56789

In [6]:
import re

text = "the word 'hello' is repeated many times: hellohellohellohellohello"
pattern = r"(hello){2,}"

matches = re.findall(pattern, text)

for match in matches:
  print('match :', match)

match : hello

In [7]:
import re

text = "The word 'hello' is repeated many times: hellohellohellohellohello hellohellohellohellohello hellohellohellohellohello"
pattern = r"(hello){2,}"
matches = re.findall(pattern, text)

for match in matches:
    print("Match:", match)

Match: hello
Match: hello
Match: hello

In [8]:
import re

text = 'the price is 100, and other the price is 250.'
pattern =r'[\d]'

matches = re.findall(pattern, text)

for i in matches:
  print('match :', i)

match : 1
match : 0
match : 0
match : 2
match : 5
match : 0

In [9]:
import re

text = 'The price is $100.'
pattern =r'[zthe\d]'

matches = re.findall(pattern, text)

for i in matches:
  print('match :', i)

match : h
match : e
match : e
match : 1
match : 0
match : 0

In [10]:
import re

text = 'i have an apple and a monkey in the kitchen'
pattern = r'[amk]'

matches = re.findall(pattern, text)

for i in matches:
  print('match :', i)

match : a
match : a
match : a
match : a
match : a
match : m
match : k
match : k

In [11]:
import re

text = "The quick brown fox jumps over the lazy dog."
pattern = r"[a-z]"

matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

Match: h
Match: e
Match: q
Match: u
Match: i
Match: c
Match: k
Match: b
Match: r
Match: o
Match: w
Match: n
Match: f
Match: o
Match: x
Match: j
Match: u
Match: m
Match: p
Match: s
Match: o
Match: v
Match: e
Match: r
Match: t
Match: h
Match: e
Match: l
Match: a
Match: z
Match: y
Match: d
Match: o
Match: g

In [12]:
import re

text = "\"The book titles are 'The Aesop for Children', 'Harry Potter', and 'Pride and Prejudice',\" said Amelia."
pattern = r"[A-Z]"

matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

Match: T
Match: T
Match: A
Match: C
Match: H
Match: P
Match: P
Match: P
Match: A

In [13]:
import re

text = "New York is a wonderful city."
pattern = r"[a-zA-Z]"

matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

Match: N
Match: e
Match: w
Match: Y
Match: o
Match: r
Match: k
Match: i
Match: s
Match: a
Match: w
Match: o
Match: n
Match: d
Match: e
Match: r
Match: f
Match: u
Match: l
Match: c
Match: i
Match: t
Match: y