<a href="https://colab.research.google.com/github/jgh0707/NLP_2023/blob/main/%EB%94%94%EC%A7%80%ED%84%B8%EC%9D%B8%EB%AC%B8%ED%95%99%20%EC%8B%A4%EC%8A%B58.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **디지털인문학 실습 과제8**
## 23.09.21

- 복습

## **List**

In [ ]:
A = ["수성", "금성", "지구", "화성", "목성", "토성", "천황성", "혜왕성"]
B = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
C = [1,2,3,4,5,6,7,8,9,10]
print(A)
print(B)
print(C)

['수성', '금성', '지구', '화성', '목성', '토성', '천황성', '혜왕성']
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## **Tuple**

In [ ]:
D = ("수성", "금성", "지구", "화성", "목성", "토성", "천황성", "혜왕성")
E = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune")
F = (1,2,3,4,5,6,7,8,9,10)
print(D)
print(E)
print(F)

('수성', '금성', '지구', '화성', '목성', '토성', '천황성', '혜왕성')
('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

## **Dictionary**

In [ ]:
G = {'Mercury':'수성', 'Venus':'금성', 'Earth':'지구', 'Mars':'화성', 'Jupiter':'목성', 'Saturn':'토성', 'Uranus':'명왕성', 'Neptune':'해왕성'}
print(G)
H = {'a':1, 'b':2, 'c':3}
print(H)
H['a'] = 365
print(H)

{'Mercury': '수성', 'Venus': '금성', 'Earth': '지구', 'Mars': '화성', 'Jupiter': '목성', 'Saturn': '토성', 'Uranus': '명왕성', 'Neptune': '해왕성'}
{'a': 1, 'b': 2, 'c': 3}
{'a': 365, 'b': 2, 'c': 3}